# To use (on Linux) copy to .config/sioyek/keys_user.config

# A couple of hold overs from Zathura.
next_page <C-d>
previous_page <C-u>
fit_to_page_width s
fit_to_page_height a

# vim-like motions in menus (particular the table of contents--enter to select)
[m]control_menu(up) <C-k>
[m]control_menu(down) <C-j>
